{{#each items as |item|}}
<div class="grid-container">
<section data-id="{{item.id}}">
  <div class
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{item.title}}</h4>
      <p class="card-text">{{item.description}}</p>
      <!--<button class="btn btn-success" data-id="{{item.id}}">Done</button> -->
      <button class="btn btn-danger" data-id="{{item.id}}">Remove</button>
      <!-- this opens a modal for editing each item -->
      <button type="button" class="btn btn-primary edit-item" data-toggle="modal" data-target="#edit-item-{{item.id}}">
        Update Item
      </button>
    </div>
  </div>
</div>
      <!-- Edit Item form within a modal -->

<div class="modal fade" id="edit-item-{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <form class="edit-item-form update-form" data-id="{{item.id}}">
                    <div class="edit-item-message"></div>
                    <input type="text" name="item[title]" required="required" placeholder="Item Title">
                    <input type="text" name="item[description]" required="required" placeholder="Item Description">
                    <button type="submit" class="btn btn-info edit-item-button">Edit Item</button>
                </form>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
      </div>
  </div>
</div>
</section>
</div>
{{/each}}
